/* Variables */
:root {
  --background-color: #f8f1e4;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --list-item-negative-color: #ccc;
  --list-item-active-duration: 5s;
  --dark-text-color: #2a2a2a;
}

/* Base styles for the body */
body {
  background-color: var(--background-color);
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Border line around the content */
.border-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96%;
  height: 96%;
  padding: 1rem;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border: 0.5px solid var(--dark-text-color);
  box-shadow: 0 0 10px var(--shadow-color);
}

/* Styling for the content list */
.content-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 45%;
  z-index: 2;
}

/* Styling for individual list items */
.content-list li {
  padding: 0.2rem 2rem;
  margin-bottom: 0.5rem;
  text-align: right;
  user-select: none;
  font-weight: 500;
  border: 0.5px solid var(--dark-text-color);
  transition: all 0.3s ease;
}

/* Hover effect for list items */
.content-list li:hover {
  border-color: transparent;
  box-shadow: none;
  transform: scaleX(1.05);
}

/* Active state animation for list items */
.content-list li:active {
  animation: negativeColor var(--list-item-active-duration);
}

/* Keyframes for the active state animation */
@keyframes negativeColor {
  0%,
  100% {
    background-color: transparent;
    color: inherit;
  }
  50% {
    background-color: var(--list-item-negative-color);
    color: var(--background-color);
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .content-list {
    max-width: 100%;
  }

  .content-list li {
    text-align: left;
  }
}

/* Social icons container */
.social-icons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
}

/* Social icon link styling */
.icon-link {
  color: var(--dark-text-color);
  margin-left: 1rem;
}

/* Social icon link hover effect */
.icon-link:hover {
  color: var(--dark-text-color);
}

/* Icon container for the sliding icons */
.icon-container {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, right 0.3s ease;
  color: var(--dark-text-color);
  font-size: 8rem;
  z-index: 1;
}

/* Active state for the icon container */
.icon-container.active {
  opacity: 1;
  right: 15%;
}
